.checkout-container {
    background-color: #f2f2f2;
    padding: 35px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.frm-checkout input[type=text],
.frm-checkout input[type=date],
.frm-checkout textarea,
.frm-checkout select {
    width: 97%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.frm-checkout label {
    margin-bottom: 10px;
}

.frm-checkout .card-icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
    text-align: right;
}

.frm-checkout .card-icon-container span {
    font-size: initial;
    vertical-align: middle;
}

.btnCheckout {
    background-color: #ff8383;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btnCheckout:hover {
    background-color: #f3b1b1;
}

.frm-checkout a {
    color: #2196F3;
}

.frm-checkout hr {
    border: 1px solid lightgrey;
}

.frm-checkout span.price {
    float: right;
    color: grey;
}

.product-list {
    overflow-y: auto;
    max-width: 925px;
}

.payment,
.payment-label {
    display: inline;
}

.payment-part {
    padding: 20px;
}

/* Product List */
.product-list {
    padding: 0;
}

.product-list li strong {
    font-weight: bold;
}

.product-list li ul {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    margin-left: 20px;
}