<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saffron Restaurant</title>

    <!-- fontawesome css and js links  -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static',
        filename="vendor/fontawesome/fontawesome.all.min.css" ) }}>
    <script src={{ url_for('static', filename="vendor/fontawesome/all.min.js" ) }}></script>

    {% block externalHeadIncludes %} {% endblock %}

    <!-- default css -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="default.css" ) }}>
</head>

<body>
    <header class="full-wrapper header-bg clear">
        <div class="wrapper clear">
            <div class="header-section clear">

                <div class="header-left clear float-left">
                    <img src={{ url_for('static', filename="images/logo.png" ) }} alt="Website Logo">
                    <h1>Saffron Restaurant</h1>
                </div>

                <!-- <div class="header-right clear float-right">
                        <div class="font-awesome">
                            <a href="#"><span class="same-icon"><i class="fab fa-facebook-f"></i></span></a>
                            <a href="#"><span class="same-icon"><i class="fab fa-twitter"></i></span></a>
                            <a href="#"><span class="same-icon"><i class="fab fa-linkedin-in"></i></span></a>
                            <a href="#"><span class="same-icon"><i class="fab fa-google-plus-g"></i></span></a>
                        </div>
                    </div> -->

            </div>
        </div>
    </header>

    <!-- Start: Social Links -->
    <div class="fixed-icon">
        <ul>
            <li><a href="#"><img src={{ url_for('static', filename="images/pinterest.png" ) }}
                        title="Follow on Pinterest"></a></li>
            <li><a href="#"><img src={{ url_for('static', filename="images/facebook.png" ) }}
                        title="Follow on Facebook"></a></li>
            <li><a href="#"><img src={{ url_for('static', filename="images/google-plus.png" ) }}
                        title="Follow on Google+"></a></li>
            <li><a href="#"><img src={{ url_for('static', filename="images/linkedin.png" ) }}
                        title="Follow on LinkedIn"></a></li>
            <li><a href="#"><img src={{ url_for('static', filename="images/twitter.png" ) }}
                        title="Follow on Twitter"></a>
            </li>
        </ul>
    </div>
    <!-- End: Social Links -->

    <!-- Start: Navigation and Search -->
    <section class="full-wrapper bg-dark">
        <div class="wrapper menu-section">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a>
                        <ul>
                            <li><a href="/about">About Me</a></li>
                            <li><a href="#">Our Factory</a></li>
                            <li><a href="#">Our Machine</a></li>
                            <li><a href="#">Our Stuff</a></li>
                            <li><a href="#">Our Field</a></li>
                        </ul>
                    </li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#">Others</a></li>
                </ul>
            </nav>
            <form class="search">
                <input type="search" placeholder="Search here..." class="search">
                <span><i class="fa fa-search" aria-hidden="true"></i></span>
            </form>
        </div>
        <a href="javascript:void(0);" class="btn-cart" id="btnCart">
            <i class="fa fa-shopping-cart"></i>
            <span class="badge count-cart-items">0</span>
        </a>
        <div class="cart-modal" id="cartModal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h3><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart (<span
                            class="count-cart-items">0</span>)
                    </h3>
                </div>
                <div class="modal-body">
                    <table id="cartItems" class="cart-items">
                        <thead>
                            <tr>
                                <th style="text-align: right;padding-right:10px;">#</th>
                                <th style="text-align: left;"></th>
                                <th style="text-align: center;">Product Name</th>
                                <th style="text-align:right;">Unit Price</th>
                                <th style="text-align:left;">Qty.</th>
                                <th style="text-align:right;padding-right: 10px;">Price</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th style="text-align: right;">&#2547; <output id="total">0</output></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="/checkout" class="btn">Continue to Checkout</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End: Navigation and Search -->

    <main>{% block main %}{% endblock %}</main>

    <footer class="full-wrapper footer-bg clear">
        <div class="wrapper clear">
            <div class="footer-section">
                <p>&copy; 2023 Saffron Restaurant. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <script src={{ url_for('static', filename="vendor/jquery/jquery.min.js" ) }}></script>
    <script src={{ url_for('static', filename="js/scroll_to_top.js" ) }}></script>
    <script src={{ url_for('static', filename="js/cart.js" ) }}></script>
    <script src={{ url_for('static', filename="default.js" ) }}></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("frmCheckout").addEventListener("submit", function (e) {
                e.preventDefault();
                var cus_name = document.getElementById("name").value;
                var cus_email = document.getElementById("email").value;
                var amount = document.getElementById("totalToCheckout").innerText;

                var apikey = '646c6ba60e397'; // Your Api Key
                var clientkey = '646c6ba613d49'; // Your Client Key
                var secretkey = '84992251'; // Your Secret Key

                var success_url = '/success';
                var cancel_url = '/failed';
                var hostname = '/';

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "https://pay.edokanpay.com/checkout.php");
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        location.href = xhr.responseText;
                    }
                };
                var data = "api=" + encodeURIComponent(apikey) +
                    "&client=" + encodeURIComponent(clientkey) +
                    "&secret=" + encodeURIComponent(secretkey) +
                    "&amount=" + encodeURIComponent(amount) +
                    "&position=" + encodeURIComponent(hostname) +
                    "&success_url=" + encodeURIComponent(success_url) +
                    "&cancel_url=" + encodeURIComponent(cancel_url) +
                    "&cus_name=" + encodeURIComponent(cus_name) +
                    "&cus_email=" + encodeURIComponent(cus_email);
                xhr.send(data);
            });
        });

    </script>

    {% block externalScripts %}{% endblock %}
</body>

</html>