<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saffron Restaurant</title>

    <!-- fontawesome css and js links  -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static',
        filename="vendor/fontawesome/fontawesome.all.min.css" ) }}>
    <script src={{ url_for('static', filename="vendor/fontawesome/all.min.js" ) }}></script>

    {% block externalHeadIncludes %} {% endblock %}

    <!-- default css -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="default.css" ) }}>
</head>

<body>
    <header class="full-wrapper header-bg clear">
        <div class="wrapper clear">
            <div class="header-section clear">

                <div class="header-left clear float-left">
                    <img src={{ url_for('static', filename="images/logo.png" ) }} alt="Website Logo">
                    <h1>Saffron Restaurant</h1>
                </div>

                <!-- <div class="header-right clear float-right">
                        <div class="font-awesome">
                            <a href="#"><span class="same-icon"><i class="fab fa-facebook-f"></i></span></a>
                            <a href="#"><span class="same-icon"><i class="fab fa-twitter"></i></span></a>
                            <a href="#"><span class="same-icon"><i class="fab fa-linkedin-in"></i></span></a>
                            <a href="#"><span class="same-icon"><i class="fab fa-google-plus-g"></i></span></a>
                        </div>
                    </div> -->

            </div>
        </div>
    </header>

    <!-- Start: Social Links -->
    <div class="fixed-icon">
        <ul>
            <li><a href="#"><img src={{ url_for('static', filename="images/pinterest.png" ) }}
                        title="Follow on Pinterest"></a></li>
            <li><a href="#"><img src={{ url_for('static', filename="images/facebook.png" ) }}
                        title="Follow on Facebook"></a></li>
            <li><a href="#"><img src={{ url_for('static', filename="images/google-plus.png" ) }}
                        title="Follow on Google+"></a></li>
            <li><a href="#"><img src={{ url_for('static', filename="images/linkedin.png" ) }}
                        title="Follow on LinkedIn"></a></li>
            <li><a href="#"><img src={{ url_for('static', filename="images/twitter.png" ) }}
                        title="Follow on Twitter"></a>
            </li>
        </ul>
    </div>
    <!-- End: Social Links -->

    <!-- Start: Navigation and Search -->
    <section class="full-wrapper bg-dark">
        <div class="wrapper menu-section">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a>
                        <ul>
                            <li><a href="/about">About Me</a></li>
                            <li><a href="#">Our factory</a></li>
                            <li><a href="#">Our Machine</a></li>
                            <li><a href="#">Our Stuff</a></li>
                            <li><a href="#">Our Field</a></li>
                        </ul>
                    </li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#">Others</a></li>
                </ul>
            </nav>
            <form class="search">
                <input type="search" placeholder="Search here..." class="search">
                <span><i class="fa fa-search" aria-hidden="true"></i></span>
            </form>
        </div>
        <a href="/checkout" class="btn-cart" id="btnCart">
            <i class="fa fa-shopping-cart"></i>
            <span class="badge" class="count-cart-items">0</span>
        </a>
        <div class="cart-modal" id="cartModal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h3><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart (<span
                            class="count-cart-items">0</span>)
                    </h3>
                </div>
                <div class="modal-body">
                    <table id="cartItems">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th>Product Name</th>
                                <th>Unit Price</th>
                                <th>Qty.</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#</td>
                                <td></td>
                                <td>Product Name</td>
                                <td>Unit Price</td>
                                <td>&times; <input type="number" id="qty" class="input-qty"
                                        title="Input Product Quantity" min="1" value="1" />
                                </td>
                                <td>
                                    <option value="0" id="price"></option>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td id="total">Total</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Continue to Checkout</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End: Navigation and Search -->

    <main>{% block main %}{% endblock %}</main>

    <footer class="full-wrapper footer-bg clear">
        <div class="wrapper clear">
            <div class="footer-section">
                <p>&copy; 2023 Saffron Restaurant. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <script src={{ url_for('static', filename="js/scroll_to_top.js" ) }}></script>
    <script src={{ url_for('static', filename="js/cart.js" ) }}></script>
    <script src={{ url_for('static', filename="default.js" ) }}></script>

    {% block externalScripts %}{% endblock %}
</body>

</html>