{% extends 'base.html' %}

{% block externalHeadIncludes %}
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename="css/checkout.css" ) }}>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block main %}
<div class="full-wrapper content-bg clear">
	<div class="wrapper clear">
		<div class="content-section clear">
			<div class="about-part">
				<h2>Checkout</h2>
				<div class="checkout-container">
					<form class="frm-checkout">
						<h3>Billing Address</h3>
						<input type="text" id="name" name="name" placeholder="Name *" required>
						<input type="text" id="email" name="email" placeholder="Email Address">
						<input type="text" id="billingAddress" name="billingAddress" placeholder="Billing Address *">
						<input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number *">
						<textarea name="additional" id="additional" cols="30" rows="10"></textarea>



						<h3>Shipping Address</h3>
						<textarea name="shippingAddress" id="shippingAddress" cols="30" rows="10" re></textarea>

						<h3>Payment</h3>
						<div class="form-check">
							<input class="payment" type="radio" value="Card" id="card" name="payment" required />
							<label class="form-check-label payment-label" for="card">
								Credit/Debit Card
							</label>

							<!-- Card Part -->
							<div class="card-part">
								<div class="icon-container">
									<i class="fab fa-brands fa-cc-visa" style="color:navy;"></i>
									<i class="fab fa-cc-amex" style="color:blue;"></i>
									<i class="fab fa-cc-mastercard" style="color:red;"></i>
									<i class="fab fa-cc-discover" style="color:orange;"></i>
								</div>
								<label for="cardNumber">Card Number</label>
								<input type="text" id="cardNumber" name="cardNumber"
									pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|[25][1-7][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$"
									required>

								<label for="cardName">Cardholder Name</label>
								<input type="text" id="cardName" name="cardName" pattern="[A-Z]*" required>

								<label for="expiryDate">Expiry Date</label>
								<input type="date" id="expiryDate" name="expiryDate" required>

								<label for="cvv">CVV</label>
								<input type="text" id="cvv" name="cvv" required>
							</div>
							<input class="payment" type="radio" value="COD" id="cod" name="payment" required />
							<label class="form-check-label payment-label" for="cod">
								Cash On Delivery
							</label>
							<br />
							<input class="payment" type="radio" value="mobileBanking" id="mobileBanking" name="payment"
								required />
							<label class="form-check-label payment-label" for="mobileBanking">
								Mobile Banking
							</label>
							<div id="mobileBankingInfo">

								<div>
									<select class="form-control" id="mobileBankingAccount" name="mobileBankingAccount"
										style="width: 125px;">
										<option value="Bkash">Bkash</option>
										<option value="Nagad">Nagad</option>
									</select>
									<select class="form-control" name="accType" style="width: 125px;">
										<option value="Personal">Personal</option>
										<option value="Agent">Agent</option>
									</select>
									<input type="text" class="form-control" name="accNumber" style="width: 220px;"
										placeholder="Account Number" required />
								</div>
								<div class="form-text">
									Our Bkash/Nagad Account No.: +880 171* *** ***
								</div>
							</div>
						</div>
				</div>
				<button type="submit" class="btnCheckout">Continue to Checkout</button>


				</form>
			</div>
		</div>

		<div class="sidebar clear">
			<div class="sidebar-content clear" style="background-color: #fff;">
				<style>
					.product-list {
						list-style: none;
						padding: 0;
					}

					.product-list li {
						margin-bottom: 10px;
					}

					.product-list li strong {
						font-weight: bold;
					}

					.product-list li ul {
						list-style: none;
						padding: 0;
						margin-top: 5px;
						margin-left: 20px;
					}

					.product-list li ul li {
						margin-bottom: 5px;
					}
				</style>

				<ul class="product-list" id="productList">
				</ul>

				<p style="text-align: right; font-weight: bold;">Total: &#2547; <output id="totalToCheckout">0</output>
				</p>

			</div>
		</div>

	</div>
</div>
{% endblock %}