{% extends 'base.html' %}

{% block main %}
<div class="full-wrapper content-bg clear">
	<div class="wrapper clear">
		<div class="content-section clear"
			style="width: 100%; background: url({{ url_for('static', filename='images/products/product2.jpg' )}}) no-repeat;background-size: cover;">
			<di class="contact-part">
				<h2>Contact Me</h2>
				<div class="contact_form">
					<form>
						<table>
							<tr>
								<td class="same-part">Name <span class="required"></span></td>
								<td><input type="text" placeholder="Enter your name" class="same-input" required></td>
							</tr>
							<tr>
								<td class="same-part">Phone Number</td>
								<td><input type="text" placeholder="Enter your phone number" class="same-input"></td>
							</tr>
							<tr>
								<td class="same-part">Email <span class="required"></span></td>
								<td><input type="email" placeholder="Enter your email" class="same-input" required></td>
							</tr>
							<tr>
								<td class="same-part">Subject</td>
								<td><input type="text" placeholder="Message subject" class="same-input"></td>
							</tr>
							<tr>
								<td class="same-part">Message <span class="required"></span></td>
								<td><textarea rows="5" cols="25" class="same-input" style="height: 74px;"
										required></textarea></td>
							</tr>
							<tr>
								<td></td>
								<td><input type="submit" class="btn btn-solid" style="font-size: large;">
								</td>
							</tr>
						</table>
					</form>
				</div>
			</di>
		</div>
	</div>
</div>
{% endblock %}