{% extends 'base.html' %}

{% block externalHeadIncludes %}
<!-- nivo-slider -->
<link rel="stylesheet" href={{ url_for('static', filename="vendor/nivo-slider/themes/default/default.css" ) }}
	type="text/css" media="screen" />
<link rel="stylesheet" href={{ url_for('static', filename="vendor/nivo-slider/themes/light/light.css" ) }}
	type="text/css" media="screen" />
<link rel="stylesheet" href={{ url_for('static', filename="vendor/nivo-slider/themes/dark/dark.css" ) }} type="text/css"
	media="screen" />
<link rel="stylesheet" href={{ url_for('static', filename="vendor/nivo-slider/themes/bar/bar.css" ) }} type="text/css"
	media="screen" />
<link rel="stylesheet" href={{ url_for('static', filename="vendor/nivo-slider/nivo-slider.css" ) }} type="text/css"
	media="screen" />
{% endblock %}

{% block main %}
<!-- Start: Slider -->
<div class="full-wrapper slider-container">
	<div class="wrapper">
		<div class="slider-section">
			<div class="slider-wrapper theme-dark">
				<div id="slider" class="nivoSlider">
					<img src={{ url_for('static', filename="images/slide01.jpg" ) }} title="First Slide Image" />
					<img src={{ url_for('static', filename="images/slide02.jpg" ) }} title="Second Slide Image" />
					<img src={{ url_for('static', filename="images/slide03.jpg" ) }} title="Third Slide Image" />
					<img src={{ url_for('static', filename="images/slide04.jpg" ) }} title="Fourth Slide Image" />
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End: Slider -->

<!-- content part start -->
<section class="full-wrapper content-bg clear">
	<div class="wrapper clear">
		<div class="content-section clear">
			<!-- <div class="content-left clear ">
				<h2>Latest offers</h2>
				<article>
					<img src={{ url_for('static', filename="images/products/product1.jpg" ) }}>
					<h3>indioliga</h3>
					<p>maurisque eros molest nunc anteget sed vel lacus mus semper. Anterd umnullam interdum
						eros dui urnama urisque eros molest nunc anteget sed vel lacus mus semper. Anterd
						umnullam interdum eros dui urna Anterd umnullam interdum eros dui urna urna Anterd
						umnullam</p>
					<a href="blog-post.html" class="float-right">Read more &raquo; </a>
				</article>
				<article>
					<img src={{ url_for('static', filename="images/products/product4.jpg" ) }}>
					<h3>indioliga</h3>
					<p>maurisque eros molest nunc anteget sed vel lacus mus semper. Anterd umnullam interdum
						eros dui urnama urisque eros molest nunc anteget sed vel lacus mus semper. Anterd
						umnullam interdum eros dui urna Anterd umnullam interdum eros dui urna urna Anterd
						umnullam</p>
					<a href="blog-post.html" class="float-right">Read more &raquo; </a>
				</article>
				<article>
					<img src={{ url_for('static', filename="images/products/product6.jpg" ) }}>
					<h3>indioliga</h3>
					<p>maurisque eros molest nunc anteget sed vel lacus mus semper. Anterd umnullam interdum
						eros dui urnama urisque eros molest nunc anteget sed vel lacus mus semper. Anterd
						umnullam interdum eros dui urna Anterd umnullam interdum eros dui urna urna Anterd
						umnullam</p>
					<a href="blog-post.html" class="float-right">Read more &raquo; </a>
				</article>
			</div>
			<div class="content-right clear">
				<h2>Recent offers</h2>
				<article>
					<img src={{ url_for('static', filename="images/products/product2.jpg" ) }}>
					<h3>indioliga</h3>
					<p>maurisque eros molest nunc anteget sed vel lacus mus semper. Anterd umnullam interdum
						eros dui urnama urisque eros molest nunc anteget sed vel lacus mus semper. Anterd
						umnullam interdum eros dui urna Anterd umnullam interdum eros dui urna urna Anterd
						umnullam</p>
					<a href="blog-post.html" class="float-right">Read more &raquo; </a>
				</article>
				<article>
					<img src={{ url_for('static', filename="images/products/product3.jpg" ) }}>
					<h3>indioliga</h3>
					<p>maurisque eros molest nunc anteget sed vel lacus mus semper. Anterd umnullam interdum
						eros dui urnama urisque eros molest nunc anteget sed vel lacus mus semper. Anterd
						umnullam interdum eros dui urna Anterd umnullam interdum eros dui urna urna Anterd
						umnullam</p>
					<a href="blog-post.html" class="float-right">Read more &raquo; </a>
				</article>
				<article>
					<img src={{ url_for('static', filename="images/products/product8.jpg" ) }}>
					<h3>indioliga</h3>
					<p>maurisque eros molest nunc anteget sed vel lacus mus semper. Anterd umnullam interdum
						eros dui urnama urisque eros molest nunc anteget sed vel lacus mus semper. Anterd
						umnullam interdum eros dui urna Anterd umnullam interdum eros dui urna urna Anterd
						umnullam</p>
					<a href="blog-post.html" class="float-right">Read more &raquo; </a>
				</article>
			</div> -->
			{% include 'dummy-home-contents.html' %}
		</div>
		{% include 'sidebar.html' %}
	</div>
</section>
<!-- content part emd -->
{% endblock %}

{% block externalScripts %}
<script src={{ url_for('static', filename="vendor/nivo-slider/jquery.nivo.slider.js" ) }}></script>
<script>
	$(window).load(function () {
		$('#slider').nivoSlider();
	});
</script>
{% endblock %}