{% extends 'base.html' %}

{% block main %}
<div class="full-wrapper content-bg clear">
    <div class="wrapper clear">
        <div class="content-section clear">
            <div class="product-part">
                <h2>Our Available Products</h2>
                <section class="product">
                    {% for each in products: %}
                    {% set product_not_available = each['available_qty'] < 1 %} <figure
                        title="{{ each['product_name'] }}">
                        <img src="{{ url_for('static', filename=each['image_url'] )}}" title="{{ each['product_name'] }}
                        Image">
                        <figcaption>
                            <div class="info">
                                <div class="name">{{ each['product_name'] }}</div>
                                <div class="unit-price">{{ each['unit_price'] }}</div>
                            </div>
                            <div class="btn-group">
                                <a href="/product-details/{{ each['product_name'] }}" class="btn btn-outlined"
                                    title="View Product Details">Details</a>
                                <a {{ '' if product_not_available else 'href="/checkout"' }}
                                    class="btn btn-solid {{ 'btn-disabled' if product_not_available else '' }}"
                                    title="Buy this Product" id="btnBuyNow">Buy Now</a>
                                <a class="btn btn-solid add-to-cart {{ 'btn-disabled' if product_not_available else '' }}"
                                    title="Add to Cart" data-product-name="{{ each['product_name'] }}"
                                    data-available-qty="{{ each['available_qty'] }}"
                                    data-unit-price="{{ each['unit_price'] }}"
                                    data-image-url="{{ each['image_url'] }}"><i class="fa fa-cart-plus"
                                        aria-hidden="true"></i></a>
                            </div>
                        </figcaption>
                        </figure>
                        {% endfor %}
                        </article>
            </div>
        </div>
        {% include 'sidebar.html' %}
    </div>
</div>
</div>
{% endblock %}