{% extends 'base.html' %}

{% block main %}
<div class="full-wrapper content-bg clear">
    <div class="wrapper clear">
        <div class="content-section clear">
            <di class="product-part">
                <h2>Introduction to Our Product</h2>
                <div class="product">
                    <img src={{ url_for('static', filename="images/products/product1.jpg" )}} title="Product1 Image">
                    <img src={{ url_for('static', filename="images/products/product2.jpg" )}} title="Product2 Image">
                    <img src={{ url_for('static', filename="images/products/product3.jpg" )}} title="Product3 Image">
                    <img src={{ url_for('static', filename="images/products/product4.jpg" )}} title="Product4 Image">
                    <img src={{ url_for('static', filename="images/products/product5.jpg" )}} title="Product5 Image">
                    <img src={{ url_for('static', filename="images/products/product6.jpg" )}} title="Product6 Image">
                    <img src={{ url_for('static', filename="images/products/product7.jpg" )}} title="Product7 Image">
                    <img src={{ url_for('static', filename="images/products/product8.jpg" )}} title="Product8 Image">
                    <img src={{ url_for('static', filename="images/products/product9.jpg" )}} title="Product9 Image">
                    <img src={{ url_for('static', filename="images/products/product10.jpg" )}} title="Product10 Image">
                    <img src={{ url_for('static', filename="images/products/product11.jpg" )}} title="Product11 Image">
                    <img src={{ url_for('static', filename="images/products/product12.jpg" )}} title="Product12 Image">
                    <img src={{ url_for('static', filename="images/products/product13.jpg" )}} title="Product13 Image">
                    <img src={{ url_for('static', filename="images/products/product14.jpg" )}} title="Product14 Image">
                    <img src={{ url_for('static', filename="images/products/product15.jpg" )}} title="Product15 Image">
                    <img src={{ url_for('static', filename="images/products/product16.jpg" )}} title="Product16 Image">
                    <img src={{ url_for('static', filename="images/products/product17.jpg" )}} title="Product17 Image">
                    <img src={{ url_for('static', filename="images/products/product18.jpg" )}} title="Product18 Image">
                    <img src={{ url_for('static', filename="images/products/product19.jpg" )}} title="Product19 Image">
                    <img src={{ url_for('static', filename="images/products/product20.jpg" )}} title="Product20 Image">
                </div>
            </di>
        </div>

        <div class="sidebar clear">
            <div class="sidebar-content clear">
                <h2>Latest artical</h2>
                <ul>
                    <li><a href="#">slide bar Aeticale one</a></li>
                    <li><a href="#">slide bar Aeticale two</a></li>
                    <li><a href="#">slide bar Aeticale three</a></li>
                    <li><a href="#">slide bar Aeticale Four</a></li>

                </ul>
            </div>
            <div class="sidebar-content clear">
                <h2>Our Description</h2>
                <ul>
                    <li><a href="#">Our Description one</a></li>
                    <li><a href="#">Our Description two</a></li>
                    <li><a href="#">Our Description three</a></li>
                    <li><a href="#">Our Description Four</a></li>

                </ul>
            </div>
            <div class="sidebar-content clear">
                <h2>Vlog post </h2>
                <ul>
                    <li><a href="#">Our Vlog post one</a></li>
                    <li><a href="#">Our Vlog post two</a></li>
                    <li><a href="#">Our Vlog post three</a></li>
                    <li><a href="#">Our Vlog post Four</a></li>
                </ul>
            </div>
            <div class="sidebar-content clear">
                <h2>America Review </h2>
                <ul>
                    <li><a href="#">Our America Review one</a></li>
                    <li><a href="#">Our America Review two</a></li>
                    <li><a href="#">Our America Review three</a></li>
                    <li><a href="#">Our America Revie Four</a></li>
                </ul>
            </div>
            <div class="sidebar-content clear">
            </div>
        </div>

    </div>
</div>
{% endblock %}