{% extends 'base.html' %}

{% block main %}
<div class="full-wrapper content-bg clear">
    <div class="wrapper clear">
        <div class="content-section clear">
            <di class="product-part">
                <h2>Introduching Our Product</h2>
                <div class="product">
                    <img src={{ url_for('static', filename="images/products/resturent2.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent21.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent3.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent4.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent6.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent7.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent8.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent9.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent10.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent11.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent12.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent16.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent13.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent14.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent15.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent16.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent17.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent18.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent19.jpg" )}}>
                    <img src={{ url_for('static', filename="images/products/resturent20.jpg" )}}>
                </div>
            </di>
        </div>

        <div class="sidebar clear">
            <div class="sidebar-content clear">
                <h2>Latest artical</h2>
                <ul>
                    <li><a href="#">slide bar Aeticale one</a></li>
                    <li><a href="#">slide bar Aeticale two</a></li>
                    <li><a href="#">slide bar Aeticale three</a></li>
                    <li><a href="#">slide bar Aeticale Four</a></li>

                </ul>
            </div>
            <div class="sidebar-content clear">
                <h2>Our Description</h2>
                <ul>
                    <li><a href="#">Our Description one</a></li>
                    <li><a href="#">Our Description two</a></li>
                    <li><a href="#">Our Description three</a></li>
                    <li><a href="#">Our Description Four</a></li>

                </ul>
            </div>
            <div class="sidebar-content clear">
                <h2>Vlog post </h2>
                <ul>
                    <li><a href="#">Our Vlog post one</a></li>
                    <li><a href="#">Our Vlog post two</a></li>
                    <li><a href="#">Our Vlog post three</a></li>
                    <li><a href="#">Our Vlog post Four</a></li>
                </ul>
            </div>
            <div class="sidebar-content clear">
                <h2>America Review </h2>
                <ul>
                    <li><a href="#">Our America Review one</a></li>
                    <li><a href="#">Our America Review two</a></li>
                    <li><a href="#">Our America Review three</a></li>
                    <li><a href="#">Our America Revie Four</a></li>
                </ul>
            </div>
            <div class="sidebar-content clear">
            </div>
        </div>

    </div>
</div>
{% endblock %}