<div class="sidebar clear">
    <div class="sidebar-content clear">
        <h2>Latest Article</h2>
        <ul>
            <li><a href="#">Article one</a></li>
            <li><a href="#">Article two</a></li>
            <li><a href="#">Article three</a></li>
            <li><a href="#">Article Four</a></li>

        </ul>
    </div>
    <div class="sidebar-content clear">
        <h2>Our Description</h2>
        <ul>
            <li><a href="#">Our Description one</a></li>
            <li><a href="#">Our Description two</a></li>
            <li><a href="#">Our Description three</a></li>
            <li><a href="#">Our Description Four</a></li>

        </ul>
    </div>
    <div class="sidebar-content clear">
        <h2>Blog Post </h2>
        <ul>
            <li><a href="#">Our Blog post one</a></li>
            <li><a href="#">Our Blog post two</a></li>
            <li><a href="#">Our Blog post three</a></li>
            <li><a href="#">Our Blog post Four</a></li>
        </ul>
    </div>
    <div class="sidebar-content clear">
        <h2>America Review </h2>
        <ul>
            <li><a href="#">Our America Review one</a></li>
            <li><a href="#">Our America Review two</a></li>
            <li><a href="#">Our America Review three</a></li>
            <li><a href="#">Our America Review Four</a></li>
        </ul>
    </div>
    <!-- <div class="sidebar-content clear">
        <h2>Contact Me </h2>
        <form>
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="Enter your full name" class="tf">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" placeholder="Enter your number" class="tf">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="email" placeholder="Enter your email" class="tf">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" placeholder="Enter your password" class="tf">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" placeholder="submit" class="tn">
                    </td>
                </tr>
            </table>
        </form>
    </div> -->
</div>