{% extends 'base.html' %}

{% block main %}
<div class="full-wrapper content-bg clear">
	<div class="wrapper clear">
		<div class="content-section clear">
			<di class="about-part">
				<h2>!!! Payment is successful!!! </h2>

			</di>
		</div>

		<div class="sidebar clear">
			<div class="sidebar-content clear">
				<h2>Latest artical</h2>
				<ul>
					<li><a href="#">slide bar Aeticale one</a></li>
					<li><a href="#">slide bar Aeticale two</a></li>
					<li><a href="#">slide bar Aeticale three</a></li>
					<li><a href="#">slide bar Aeticale Four</a></li>

				</ul>
			</div>
			<div class="sidebar-content clear">
				<h2>Our Description</h2>
				<ul>
					<li><a href="#">Our Description one</a></li>
					<li><a href="#">Our Description two</a></li>
					<li><a href="#">Our Description three</a></li>
					<li><a href="#">Our Description Four</a></li>

				</ul>
			</div>
			<div class="sidebar-content clear">
				<h2>Vlog post </h2>
				<ul>
					<li><a href="#">Our Vlog post one</a></li>
					<li><a href="#">Our Vlog post two</a></li>
					<li><a href="#">Our Vlog post three</a></li>
					<li><a href="#">Our Vlog post Four</a></li>
				</ul>
			</div>
			<div class="sidebar-content clear">
				<h2>America Review </h2>
				<ul>
					<li><a href="#">Our America Review one</a></li>
					<li><a href="#">Our America Review two</a></li>
					<li><a href="#">Our America Review three</a></li>
					<li><a href="#">Our America Revie Four</a></li>
				</ul>
			</div>
			<div class="sidebar-content clear">
			</div>
		</div>

	</div>
</div>
{% endblock %}